body{
    padding: 50px;
}

.box{
    background-color: red;
    width: 50px;
    height: 30px;
    animation: myanimation 3s infinite ease-in;
}

@keyframes myanimation {
    0%{
        width: 50px;}
  
    50%{
        background-color: aquamarine;
        height: 50px;
    }

    100%{
        width: 150px;
    }

}