<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Name</title>
    <meta name="autor" content="My site name">
    <meta name="description" content="My html template">
    <!-- Open Graph Protocol (For share on social media)--> 
    <meta property="og:title" content="A brief description">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.mysite.com">
    <meta property="og:description" content="A brief description">
    <meta property="og:image" content="image.png">

    <!-- Icon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">    
    <link rel="icon" href="favicon.svg" type="image/svg+xml-icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon-png">

    <!-- Include CSS files -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    
    <header>
        <!-- Add website name or logo -->
        <p>Header </p>
    </header>
    <nav>
        <!-- Add a website navegation here -->
    </nav>
    <main>
        <!-- Add main content here -->
        <h1>Heading</h1>
    </main>
    <footer>
        <!-- Add footer content and copyright here-->
        <p>Footer</p>
    </footer>

    <!-- Include Javascript files here -->
    <script src="javascript/script.js"></script>
</body>
</html>